@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#goal{
    position: relative;
    width: 411px;
    height: 823px;
    background: #FFFFFF;
    margin: auto;
}

#whatisgoal{
    position: absolute;
    width: 226px;
    height: 36px;
    left: 95px;
    top: 61px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #555555;
}

#anxietyimg,#mindfulnessimg,#sleepimg,#Stayfocusedimg{
    position: absolute;
    width: 165px;
    height: 127px;
    transition: border 0.2s ease-in;
}


#anxietyimg{
    left: 34px;
    top: 166px;
}

#mindfulnessimg{
    left: 225px;
    top: 166px;
}
#sleepimg{
    left: 34px;
    top: 395px;
}

#Stayfocusedimg{
    left: 225px;
    top: 395px;
}


.allimages:active{
    border:1px solid rgb(158, 154, 154);
    border-radius: 10px;
}


#reduce,#mind,#stay,#sleep{
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #656B75;
}

#reduce{
    width: 190px;
    height: 48px;
    left: 19px;
    top: 311px;
}

#mind{
    width: 96px;
    height: 24px;
    left: 260px;
    top: 311px;
}

#stay{
    width: 104px;
    height: 24px;
    left: 65px;
    top: 533px;
}

#sleep{
    width: 44px;
    height: 24px;
    left: 286px;
    top: 533px;    
}
