@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#personality{
    position: relative;
    width: 411px;
    height: 823px;
    background: #FFFFFF;
    margin: auto;
}

#person{
    position: absolute;
    width: 201px;
    height: 36px;
    left:88px;
    top:60px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #555555;
}

#character{
    position: absolute;
    width: 358px;
    height: 406px;
    left: 26px;
    top: 175px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 44px;
    color: #A28EFC;
}